@model Clothes_Shop.Models.ColorTab

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ColorTab</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ColorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
