@{
    ViewData["Title"] = "Home Page";
}


<div class="bg-dark py-5" style="border-block-width: 0px">
    <div class="container">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</div>

@*<div class="row m-0 p-0">
        <div class="col m-0 p-0">
            <img src="~/images/Kobieta.jpg" width="500" height="350" />
        </div>
        <div class="col  m-0 p-0">
            <img src="~/images/Mezczyzna.jpg" width="500" height="350" />
        </div>
    </div>

    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="mt-3">
                <img src="~/images/dziecko.jpg" width="500" height="350" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>*@
